$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "css-reset";
@import "colors";
@import "type";

.chart-area {
  // background-color: lightgray;
  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & #chart-container_wrapper {
    width: 100%;
    // height: 300px;
    margin-top: -10px;
    margin-bottom: 30px;
    @include x-small {
      margin-bottom: 20px;
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  .dataTables_info {
    display: none;
  }

  thead tr th  {
    text-align: left;
    padding: 8px 10px;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
    font-size: 14px;
  }

  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: rgba($green-secondary-2,0.5);
  }

  table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: rgba($green-secondary-2,0.5);
  }

  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: none;
  }

  table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: white;
  }
  
}

@import "social";
